.alert-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: calc($zindex-modal + 1);
    width: 100vw;
    height: 100vh;
    background-color: $modal-backdrop-bg;

    &.show {
        opacity: $modal-backdrop-opacity;
    }
}

.alert-box {
    &.modal {
        --bs-modal-zindex: #{calc($zindex-modal + 2)};
    }
}
