.body {
    background-color: var(--nv-body-bg);
}

.main-content {
    margin-left: calc($left-sidebar-width);
    min-height: calc(100vh - $header-height - $footer-height);
    margin-top: $header-height;
    transition: margin-left .2s ease-in-out;

    @media (max-width: #{$theme-breakpoint}) {
        margin-top: 0;
        margin-left: 0;
        min-height: calc(100vh - $header-height - $footer-height - $left-sidebar-toggle-height);
    }
}

.collapsed-left-sidebar {
    .main-content {
        margin-left: calc($left-sidebar-width-sm);

        @media (max-width: #{$theme-breakpoint}) {
            margin-left: 0;
        }
    }
}

.ico-vc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Offcanvas admin session
.nv-offcanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $zindex-nv-offcanvas;
    transition: transform .2s ease-in-out;
    transform: translate(0, -101%);

    &.show {
        transform: translate(0, 0);
    }
}

// Sửa vị trí cuộn của sticky
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .sticky#{$infix}-top {
            top: $header-height;
        }
    }
}

// Card tab
.card-header-tabs {
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}
