.body {
    background-color: $main-bg;
}

.main-content {
    margin-left: calc($left-sidebar-width + $left-sidebar-border-width);
    min-height: calc(100vh - $header-height - $footer-height);
    margin-top: $header-height;
    transition: margin-left .2s ease-in-out;
}

.collapsed-left-sidebar {
    .main-content {
        margin-left: calc($left-sidebar-width-sm + $left-sidebar-border-width);
    }
}

.icon-vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
