$blue: #4285f4;
$green: #27ad57;
$red: #ee3232;
$cyan: #17a2b8;
$white:#fff;

$gray-100: #f9f9f9;
$gray-200: #e5e5e5;
$gray-600: #666;

$font-size-base: 0.8125rem; // 13px
$font-family-sans-serif: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$h1-font-size: $font-size-base * 1.625; // 28px
$h2-font-size: $font-size-base * 1.5; // 24px
$h3-font-size: $font-size-base * 1.375; // 22px
$h4-font-size: $font-size-base * 1.25; // 20px
$h5-font-size: $font-size-base * 1.125; // 18px
$h6-font-size: $font-size-base; // 16px

$border-width: 1px;

$main-bg: #eee;
$body-color: $gray-600;
$min-contrast-ratio: 3;
$link-decoration: none;

// Shadow một số và tắt một số
$enable-shadows: true;
$btn-box-shadow: none;

// Border radius
$border-radius: .1875rem; // 3px
$border-radius-sm: .125rem; // 2px

// Z-Index
$zindex-header: 940;
$zindex-left-sidebar: 960;
$zindex-right-sidebar: 980;

// Phần header
$header-height: 3.75rem; // 60px
$header-border-height: $border-width;
$header-bg: $white;
$header-bg-invert: $blue;
$logo-height: 3.125rem; // 50px
$header-active-bg: $gray-200;
$header-link-hover-color: $blue;
$header-avatar-size: 2.5rem;
$admin-info-width: 16rem;

// Menu trái
$left-sidebar-width: 14rem; // 224px
$left-sidebar-border-width: $border-width;
$left-sidebar-bg: $white;

// Menu phải
$right-sidebar-width: 14rem; // 224px
$right-sidebar-border-width: $border-width;
$right-sidebar-bg: $white;

// Footer
$footer-bg: $gray-100;
$footer-height: 3.75rem; // 60px
$footer-border-height: $border-width;
